name: CI
on: [pull_request]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: chartboost/ruff-action@v1
      - uses: astral-sh/setup-uv@v7
      - run: uv run pytest -m "not integration"
        env:
          PYNPUT_BACKEND: dummy
