name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    outputs:
      created: ${{ steps.release.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
  publish:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.created }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
